@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;600&display=swap');

:root{
    --red:#831010;
    --dark-color: #898989;
}
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::section{
    background: var(--red);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}

html::-webkit-scrollbar-track{
    background: #222;
}

html::-webkit-scrollbar-thumb{
    background: var(--red);
}

body{
    background: #111;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding: 1rem;
}

.btn{
    padding: .7rem 3rem;
    background: var(--red);
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background: #333;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .logo img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--red);
}

header .logo .name{
    font-size: 3.5rem;
    color: #fff;

}

header .logo .project{
    font-size: 2rem;
    color: #eee;
    
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: #fff;
    font-size: 2rem;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background: var(--red);
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.Dashboard{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
    width: 100%;
    height: 100vh;
    align-items: center; 
    background: url('./background.jpg');
}

.Dashboard::after {
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(58, 57, 57, 0.6);
    box-shadow: inset 50px 100px 50px #000000;
}

.Dashboard .Dashboard-container {
    position: relative;
    z-index: 3;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15rem;  
}

.Dashboard h1{
    font-size: 5rem;
    color: #fff;
}

.Dashboard h1 span{
    color: var(--red);
}

.Dashboard p{
    font-size: 2rem;
    color: #fff;
    padding: 1rem 0;
}

.Team{
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
}

.main-div{
    width: 100vw;
    height: 80vh;
    /*background-color: rosybrown; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.main-div h1{
    font-size: 4.8rem;
    letter-spacing: 0.2rem;
    font-size: 600;
}

.memberDiv {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.memberDiv .btn,
.addIcon {
    height: 10vw;
    min-height: 8.4rem;
    max-height: 20rem;
    width: 10vw;
    min-width: 8.4px;
    max-width: 20rem;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    margin-top: 3rem;
    margin-right: 2.5rem;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.memberDiv .btn:nth-child(1){
    background-image: url(./Brandon.png);
}

.memberDiv .btn:nth-child(2){
    background-image: url(./Gia.png);
}

.memberDiv .btn:nth-child(3){
    background-image: url(./Joe.png);
}

.memberDiv .btn:nth-child(4){
    background-image: url(./Julia.png);
}

.memberDiv .btn:nth-child(5){
    background-image: url(./Minh.png);
}

.memberDiv .btn:hover{
    box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.9);
}

.memberDiv .btn span, .addIcon span{
    width: inherit;
    /*background-color: red;*/
    position: absolute;
    bottom: -3rem;
    left: 0;
    text-transform: capitalize;
    color: rgb(153, 153, 153);
    font-size: 2rem;
}

.fa-circle-plus{
    font-size: medium;
    color: gray;
    opacity: 0.8;
}

.addIcon{
    background-color: transparent;
}

.addIcon:hover{
    background-color: #fff;
}

.addIcon:hover > .fa-circle-plus{
    opacity: 1;
}

.detailProfile {
    border: 1px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 0.8rem 2.6rem;
    letter-spacing: 0.5rem;
    font-size: 2.5rem;
    margin-top: 12rem;
    background-color: transparent;
    cursor: pointer;
  }
  .detailProfile:hover {
    border: 1px solid #fff;
    color: #fff;
  }

.GitHub{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.GitHub .disc{
    background-color: rgb(209, 26, 35);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GitHub .hero {
    background-color: rgb(209, 26, 35);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.GitHub .disc p{
    width: 75%;
    text-align: center;
}

.GitHub .disc h2{
    font-size: 3rem;
}

.GitHub .disc .link-to-web-container {
    text-align: center; 
  }
  
.GitHub .disc .btn.link-to-web {
    background-color: rgb(209, 26, 35);
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px; 
    cursor: pointer;
    display: inline-flex; 
    align-items: center; 
    border-radius: 4px; 
  }
  
.GitHub .disc .btn.link-to-web .material-icons {
    margin-right: 8px; 
  }









/* media queries */

@media (max-width:1200px){
    html{
        font-size: 55%;
    }
    .home{
        padding: 1rem 4rem;
    }
}

@media (max-width:991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }
}

@media (max-width:600px){
    .GitHub{
        display: flex;
        flex-direction: column;
    }
    
    .disc{
        width: 100vw;
        height: 50vh;
    }

    .hero{
        width: 100vw;
        height: 50vh;
    }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }
}